# URL WebSocket de Mosquitto para el navegador
VITE_MQTT_URL=ws://localhost:9001

# Topics publicados por la ESP32
VITE_MQTT_TEMPERATURE_TOPIC=clima/esp32/temperatura
VITE_MQTT_HUMIDITY_TOPIC=clima/esp32/humedad
VITE_MQTT_SUNLIGHT_TOPIC=clima/esp32/luz
